@import 'tailwindcss';
@config '../tailwind.config.ts';

html,
body {
  height: 100%;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.food-background::before {
  background-image: url('/tasty-and-fresh-food-clipart-PNG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  content: '';
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  top: 220px;
}

.food-background {
  position: relative;
  z-index: 2;
}
