<p-card
  class="flex text-center"
  styleClass="surface-200"
  header="Sign up to vote!"
>
  <div class="flex flex-column gap-3">
    <input pInputText placeholder="Email" [(ngModel)]="email" />
    <p-password
      placeholder="Password"
      [(ngModel)]="password"
      [feedback]="false"
      [toggleMask]="true"
    />
    <p-password
      placeholder="Confirm Password"
      [(ngModel)]="passwordConfirm"
      [feedback]="false"
      [toggleMask]="true"
    />
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-column gap-3">
      <button
        pButton
        label="Get Started"
        severity="success"
        [disabled]="!validEmail() || !validPassword()"
        [loading]="processing()"
        (click)="signUp()"
      ></button>
      <span class="mt-4 text-sm text-center">
        Already have an account?
        <span
          class="text-green-500 text-center hover:underline cursor-pointer"
          (click)="this.router.navigate(['/login'])"
        >
          Sign in!
        </span></span
      >
    </div>
  </ng-template>
</p-card>
