<p-card
  class="flex text-center w-full"
  styleClass="surface-200"
  header="Welcome back!"
>
  <div class="flex flex-column gap-3 mb-3">
    <input pInputText placeholder="Email" [(ngModel)]="email" />
    <p-password
      placeholder="Password"
      [(ngModel)]="password"
      [feedback]="false"
      [toggleMask]="true"
    />
    @if (error()) {
    <small class="flex align-items-center gap-1">
      <i class="pi pi-exclamation-circle text-red-500"></i>
      <p class="text-red-500">{{ error() }}</p>
    </small>
    }
    <button
      pButton
      icon="pi pi-envelope"
      label="Sign In with Email"
      severity="success"
      [disabled]="!validEmail()"
      [loading]="processing()"
      (click)="login()"
    ></button>
  </div>

  <div class="text-center green-500 line-behind text-sm mb-3">
    Or Login with
  </div>
  <div class="flex flex gap-3">
    <button
      pButton
      icon="pi pi-discord"
      style="background: #7289da"
      class="flex-1"
      [loading]="processing()"
      (click)="loginWithOAuth('discord')"
    ></button>
    <button
      pButton
      icon="pi pi-github"
      style="background: #333"
      class="flex-1"
      [loading]="processing()"
      (click)="loginWithOAuth('github')"
    ></button>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex flex-column gap-2">
      <span
        class="text-sm text-green-500 text-center hover:underline cursor-pointer"
        (click)="this.router.navigate(['/forgot-password'])"
      >
        Forgot Password?
      </span>

      <span class="text-sm text-center">
        Don't have an account?
        <span
          class="text-green-500 text-center hover:underline cursor-pointer"
          (click)="this.router.navigate(['/sign-up'])"
        >
          Sign up!
        </span>
      </span>
    </div>
  </ng-template>
</p-card>
