<p-card class="shadow-7">
  <div class="flex flex-column gap-3">
    <button
      pButton
      icon="pi pi-envelope"
      label="Continue with Email"
      severity="success"
      (click)="login()"
    ></button>
    <button
      pButton
      icon="pi pi-envelope"
      label="Continue with Email"
      severity="secondary"
    ></button>

    <button
      pButton
      icon="pi pi-envelope"
      label="Continue with Email"
      severity="contrast"
    ></button>
  </div>
  {{ session }}
</p-card>
