<div class="w-full flex justify-content-center gap-4 sm:gap-8 flex-wrap">
  <p-card
    class="flex text-center w-full"
    styleClass="surface-200"
    header="Generic Card Header"
  >
    <div class="flex flex-column gap-3 mb-3">
      <p>Generic card content goes here. You can add any elements you need.</p>
    </div>

    <ng-template pTemplate="footer">
      <div class="flex flex-column gap-2">
        <span class="text-sm text-center"> Generic footer content. </span>
      </div>
    </ng-template>
  </p-card>
</div>
