<div class="flex flex-column h-full gap-4 sm:gap-2 container">
  <div class="text-center mt-6 text-4xl font-bold flex flex-column gap-2">
    <div>Get Recipes</div>
    <div class="underline text-primary">Without the Story</div>
  </div>

  <div
    class="flex flex-column gap-2 justify-content-center align-items-center mb-6 mx-3 sm:mx-6"
  >
    <app-socials></app-socials>
    <div class="text-center text-base text-color-secondary">
      Enter a recipe URL to get the recipe without the noise or let our AI find
      the recipe for you
    </div>
    <router-outlet />
  </div>
</div>
<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  position="top-right"
/>
