<div class="h-full flex flex-column">
  <p-toolbar class="w-full">
    <div class="p-toolbar-group-start">
      <span class="text-3xl font-bold text-orange-500">everyone-votes</span>
    </div>

    <div class="p-toolbar-group-end">
      <div class="text-xl font-bold text-orange-500">Welcome!</div>
      <p-button
        *ngIf="loggedIn"
        [outlined]="true"
        [raised]="true"
        [rounded]="true"
        icon="pi pi-sign-in"
      />
    </div>
  </p-toolbar>
  <div
    class="flex flex-grow-1 h-full justify-content-center align-items-center"
  >
    <router-outlet />
  </div>
</div>
