<p-toolbar class="w-full">
  <div class="p-toolbar-group-start gap-3">
    <span class="text-xl font-bold text-green-500">E1Votes</span>
    <button
      pButton
      [severity]="'success'"
      [raised]="true"
      [rounded]="true"
      [outlined]="true"
      icon="pi pi-twitter"
      size="small"
      (click)="openTab('https://x.com/Toxeydotdev')"
    ></button>
  </div>

  <div class="p-toolbar-group-end gap-3">
    <button
      pButton
      [severity]="'success'"
      [raised]="true"
      [rounded]="true"
      icon="pi pi-chart-bar"
      size="small"
      (click)="this.router.navigate(['/'])"
    ></button>
    @if (userAuthenticated()) {
    <button
      pButton
      label="Sign Out"
      [severity]="'success'"
      [raised]="true"
      [rounded]="true"
      icon="pi pi-sign-out"
      size="small"
      (click)="logout()"
    ></button>
    } @else {
    <button
      pButton
      [severity]="'success'"
      [raised]="true"
      [rounded]="true"
      icon="pi pi-user-plus"
      size="small"
      (click)="this.router.navigate(['/login'])"
    ></button>
    }
  </div>
</p-toolbar>
