/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.p-button-icon-only {
  width: 2.5em;
  height: 2.5em;
}

html,
body {
  height: 100%;
  --grid-size: 30px;
  --grid-strength: 1px;
  --grid-dash: 10px;
  --grid-gap: 5px;
  --grid-color: #ddd;
  --paper-color: #fff;

  background-color: var(--paper-color);
  background-size: var(--grid-dash) var(--grid-dash),
    var(--grid-size) var(--grid-size);
  background-image: linear-gradient(
      to bottom,
      transparent var(--grid-gap),
      var(--paper-color) var(--grid-gap)
    ),
    linear-gradient(
      to right,
      var(--grid-color) var(--grid-strength),
      transparent var(--grid-strength)
    ),
    linear-gradient(
      to right,
      transparent var(--grid-gap),
      var(--paper-color) var(--grid-gap)
    ),
    linear-gradient(
      to bottom,
      var(--grid-color) var(--grid-strength),
      transparent var(--grid-strength)
    );
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-nowrap {
  text-wrap: nowrap;
}

.p-metergroup-labels {
  justify-content: space-between;
}
